@import url("styles/header.css");
:root {
    --cor-de-fundo: #EBECEE;
    }
body{
    background-color: rgb(36, 36, 36);
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
 background-color: rgb(151, 1, 1);
 position: var(--cor-de-fundo);
}
p {
    background-color: aliceblue;
}
