body{
    background-color: rgb(31, 31, 31);
}
h1{
    color: rgb(255, 255, 255);
}

p{
    color: rgb(241, 235, 235);
}

.cabecalho{
  background-color: darkred;
  display: flex;
  justify-content: space-between;


}